*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.row-poster{
    width: 100%;
    object-fit: contain;
    margin-right: 10px;
    max-height: 100px;
    transition: transform 450ms;
}
.row-posters{
    display: flex;
    overflow-y:hidden ;
    overflow-x:scroll ;
    padding: 20px;

}
.row-poster:hover{
    transform: scale(1.08);

}
.row-posters::-webkit-scrollbar{
    display: none;
}
.row-posterLarge{
    max-height: 250px;
}
.row-posterLarge:hover{
    transform: scale(1.09);
}
.row{
    color: white;
    margin-right: 20px;
}
.banner{
    background-image: url('Images/banner.jpg');
    background-size: cover;
    color: white;
    object-fit: contain;
    height: 448px;
}
.banner-contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}
.banner-tittles{
    font-size: 3rm;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner-description{
    width: 45rem;
    height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}
.banner-button{
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51,51,51, 0.5);
}
.banner-button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}
.banner-fade-bottom{
    margin-top: 144px;
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
}
.nav-logo{
    width: 80px;
    object-fit: contain;
}
.nav-avathar{
    width: 30px;
    object-fit: contain;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition:all 0.5;

}